
<div class="container">
    <form class="example-form">
        <mat-form-field class="example-full-width">
        <mat-label>User Name</mat-label>
            <input matInput placeholder="User Id" value="Enter your user id">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="password" value="Enter your password">
        </mat-form-field>
        <br>
            <!--
            <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
            </mat-form-field>
            -->
        <button mat-raised-button color="primary">Login</button>
    </form>
    
</div>
