<div class="flex-container">
    <div>
    <mat-list>
        <mat-list-item>Email:- pankaj.nitjsr123@gmail.com, pankaj.nitjsr123@gmail.com</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Linkedin:- www.linkedin.com/in/pankajIITB</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Facebook:- https://www.facebook.com/profile.php?id=1663096125</mat-list-item>
    </mat-list>
</div>
</div>