.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(240, 234, 234);
  }
  
  .flex-container>div {
    background-color: #f1f1f1;
    color: white;
    width: 35%;
  }