<!--

<div class="header">
    <h1>My Website</h1>
    <p>With a <b>flexible</b> layout.</p>
  </div>

<div class="container">
    <button mat-raised-button style="color: #8E44AD ;" routerLink="login-page">Go To Login Page</button>
    <button mat-raised-button style="color: #8E44AD ;" routerLink="cv">CV</button>
    <button mat-raised-button style="color: #8E44AD ;" routerLink="contact-us">Contact Us</button>
</div>
<router-outlet></router-outlet>
<div class="footer">
    <h2>Footer</h2>
  </div>
-->

<!-- Note -->
<div style="background:#8E44AD;padding:5px">
    <h2 style="text-align:center; color: seashell;">Our Profile Details</h2>
  </div>
  

  
  <!-- Navigation Bar -->
  <div class="navbar">
    <a routerLink="">Home</a>
    <a routerLink="cv">CV</a>
    <a href="https://gitlab.com/pankaj2k">GitLab</a>
    <a routerLink="contact-us">ContactUs</a>
    <a routerLink="login-page">Login Page</a>
    <a href="./assets/pdf/pankajCv.pdf" target="ref" onclick="popIt(this.href);return false;">Download CV</a>
  </div>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>

  <!-- Footer -->
  <div class="footer">
      <h4 style="color: seashell;">Follow Us</h4>
      <br>
      <div style="font-size: 2.0rem;">
          <a href="https://www.facebook.com/profile.php?id=1663096125"><i class="fa fa-facebook-square"></i></a>&nbsp;&nbsp;&nbsp;
          <a href="https://www.linkedin.com/in/pankajiitb/"><i class="fa fa-linkedin-square"></i></a>&nbsp;&nbsp;
          <a href="https://www.instagram.com/pankaj.nitjsr1232019/?hl=en"><i class="fa fa-instagram"></i></a>
          <!--<p class="vl"></p>-->
      </div>
  </div>