/*
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white ;
    justify-content: space-around;
    position: fixed;
}
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  }
  */

  * {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial;
    margin: 0;
  }
  
  /* Header/logo Title */
  .header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
  }
  
  /* Style the top navigation bar */
  .navbar {
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(to right, #f650fe, #8E44AD);
  }
  
  /* Style the navigation bar links */
  .navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .fa-facebook-square {
    width: 20px !important;
    height: 15px !important;
    color: white;
  }
  .fa-linkedin-square {
    color: white;
  }
  .fa-instagram {
    color: white;
  }

  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #8E44AD;
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
/*
  @media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
  }
*/